@import '../../../shared/variables';

.recipe-field {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: $white;
  border: lightgrey solid 2px;
  text-decoration: none;
  color: $black;
}
.recipe-field img {
  padding: 6px 0;
}

#btn-new-recipe {

}
