<form>
  <mat-form-field class="example-form-field">
    <label for="name"></label>
    <input matInput type="text" placeholder="Name" id="name">
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <label for="amount"></label>
    <input matInput type="text" placeholder="Amount" id="amount">
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <label for="unit"></label>
    <input matInput type="text" placeholder="Unit" id="unit">
  </mat-form-field>

  <br>

  <button mat-raised-button color="primary" type="submit">Add</button>
  <button mat-raised-button color="warn" type="button">Delete</button>
  <button mat-raised-button color="accent" type="button">Clear</button>


</form>
