<mat-toolbar color="primary" class="container">
  <mat-toolbar-row >
    <a routerLink="/">Edeka Einkaufszettel</a>
    <span class="example-spacer"></span>

    <div *ngIf="mobilestate" id="desktop-menu">
      <a *ngFor="let menuitem of menuitems" routerLink="/{{menuitem.routerLinkName}}" class="desktop-menu-spacing">
        {{menuitem.itemName}}
      </a>
      <button mat-icon-button>
        <mat-icon>save</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon >autorenew</mat-icon>
      </button>
    </div>

    <div *ngIf="mobilestate" id="mobile-menu">
      <button mat-icon-button [matMenuTriggerFor]="menu" class="hamburger-menu" aria-hidden="false" aria-label="Example user verified icon">
        <mat-icon id="menu-icon">menu</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>save</mat-icon>
          <span>Save data</span>
        </button>
        <button mat-menu-item>
          <mat-icon>autorenew</mat-icon>
          <span>Fetch data</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
