.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

#menu-icon {
  color: white;
}

.hamburger-menu {
  background-color: transparent;
  border-color: transparent;
}

#desktop-menu mat-icon-button {
  margin: 0 0 0 1.2em;
}

mat-toolbar-row a {
  text-decoration: none;
  font-size: medium;
  font-weight: normal;
  color: white;
}
